<div class='dashboard__main'>
  <div class='banner'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-xl-6 col-md-12'>
          <div class='block-text'>
            <h2 class='title'>Join the XINK revolution and start mining today!
            </h2>
            <p class='desc'>Start mining effortlessly and earn XINK tokens with
              our innovative AI-powered platform. Join a forward-thinking
              community that's shaping the future of communication. Sign up now
              and start mining your way to success!</p>
          </div>
          <div class='group-button mineBtnGrp'>
            <a href='#' id="mineBtn" class='btn-action-outline style-3'><span>Mine</span></a>
          </div>

          <ul class='content-list'>
            <li>
              <div class='number'><h3>01</h3></div>
              <h5>+200K</h5>
              <p>Minners</p>
            </li>
            <li>
              <div class='number'><h3>02</h3></div>
              <h5>+5 mILLION</h5>
              <p>Mined</p>
            </li>
            <li>
              <div class='number'><h3>03</h3></div>
              <h5>+500.000 USD</h5>
              <p>Total Volume</p>
            </li>
          </ul>

        </div>
        <div class='col-xl-6 col-md-12'>
          <div class='banner-top__sale'>
            <div class='sale-image'>
                {{!-- TODO: Dashboard to show mining progress and total mined --}}
            </div>
            <div class='sale-content'>
              <h5>Token sale End In!</h5>

              <span class='js-countdown' data-timer='1865550'></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>